@charset "UTF-8";

/*
* CSS by Sofie Wallin (sowa2002), student at MIUN, 2021
*/

/*------------------------------------*\
    GENERAL & RESETS
\*------------------------------------*/

html, 
*, 
*::after, 
*::before {   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, 
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body, button {
    color: rgba(255,255,255,1);
    font: 300 1.8rem/1.5 'Jost', sans-serif;
}

/* Hidden elements */
#hidden-description:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

main {
    margin: 0 auto;
    max-width: 54.0rem;
    padding: 8.0rem 3.0rem 5.0rem;
    position: relative;
    text-align: center;
    z-index: 4;
}

.logo {
    animation: rolein 3s ease-out forwards;  
    height: 8.0rem;
    left: -8.0rem;
    position: absolute;
    top: 8.0rem;
    width: 8.0rem;
}

h1, p, button {
    animation: fadein 2s ease-in 3s forwards;
    opacity: 0;
}

h1 {
    line-height: 1.2;
    font-size: 4.0rem;
    font-weight: 300;
    margin-bottom: 2.0rem;
    padding-top: 12.0rem;
}

p {
    margin-bottom: 1.5rem;
    animation-delay: 4s;
}

button {
    animation-delay: 5s;
    border: none;
    border-radius: 6.0rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    height: 12.0rem;
    letter-spacing: 0.10em;
    margin-top: 3.0rem;
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
    width: 12.0rem;
    z-index: 5;
}

button:hover {
    transform: rotate(360deg);
}

/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/

@keyframes rolein {
    from { 
        left: -80rem; 
        margin-left: -4.0rem;
        transform: rotateZ(-360deg);
    }
    to { 
        left: 50%;
        margin-left: -4.0rem;
        transform: rotateZ(360deg);
    }
}

@keyframes fadein {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}